@charset "UTF-8";
@import url(c:\Users\Helen\Google Диск\rolling-scopes-school\helenbassa-JSFE2021Q1\helenbassa-JSFE2021Q1\online-zoo\global\normalize.css);
/* Color */
/* Color Hover/Pressed */
/* Color Not Active */
/* Color for Social networks*/
.header-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 82px;
  line-height: 100px;
  /* identical to box height */
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00a092;
}

.header-text-320 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #00a092;
}

h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
  /* identical to box height */
  text-transform: uppercase;
  color: #00a092;
}

.h2-320 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  text-transform: uppercase;
  color: #00a092;
}

h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 51px;
  /* identical to box height */
  color: #00a092;
  text-transform: uppercase;
}

.subheader {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  /* or 34px */
  color: #00a092;
}

.body-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #000000;
}

.btn-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  text-transform: uppercase;
  color: #00a092;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #20113d;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  margin: 0;
  overflow-y: overlay;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
input:focus {
  outline: transparent;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.--just-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.--just-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.--just-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.--align-str {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.--align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.--align-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.wrapper {
  width: 100%;
  background-color: #ffffff;
}

.wrapper--header {
  background-color: #f58021;
}

.wrapper--donation, .wrapper--footer, .wrapper--pay-and-feed, .wrapper--users-think {
  background-color: #20113d;
}

.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 260px;
}

.container--meet-pets {
  max-width: 2360px;
  padding: 0;
}

.container--users-think {
  padding: 0;
}

.inner-bg {
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-bg--watch-animal {
  background-image: url(/assets/images/landing/panda-background.jpg);
  background-size: auto;
  background-position-x: 1px;
  background-position-y: -40px;
}

.inner-bg--users-think {
  background: linear-gradient(177.34deg, #20113d 7.26%, rgba(32, 17, 61, 0) 14.89%), linear-gradient(144.77deg, #20113d 18.53%, rgba(32, 17, 61, 0) 46.43%), url(/assets/images/landing/gradient-background.jpg);
  background-size: cover;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 27px 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__svg path {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logo__svg:hover path, .logo__svg:focus path {
  fill: #00a092;
}

@media screen and (max-width: 767px) {
  .logo {
    z-index: 20;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-nav__item {
  margin-left: -5px;
  margin-right: 54px;
}

.main-nav__link {
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-nav__link--active {
  color: #00a092;
  font-weight: 600;
  text-transform: uppercase;
  pointer-events: none;
  cursor: default;
}

.main-nav__link:hover {
  color: #00a092;
}

.main-nav__link:focus {
  color: #00a092;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin: 0 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.social__item:nth-last-child(1) {
  margin-right: 0;
}

.social__item:hover, .social__item:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.get-in-touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get-in-touch__form {
  margin: 147px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
}

.get-in-touch__title {
  margin-bottom: 50px;
}

.get-in-touch__description {
  display: block;
  margin-right: 20%;
}

.get-in-touch form label {
  display: block;
  margin-bottom: 0.5em;
}

.get-in-touch form label span {
  color: #00a092;
}

.get-in-touch form fieldset {
  border: none;
  padding: 0;
  margin: 0 0 30px;
}

.get-in-touch form input,
.get-in-touch form textarea {
  display: block;
  width: 100%;
  padding: 16px 18px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  resize: none;
  outline: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #969696;
}

.get-in-touch form input:hover,
.get-in-touch form textarea:hover {
  border: 1px solid #00a092;
}

.get-in-touch form input:active, .get-in-touch form input:focus,
.get-in-touch form textarea:active,
.get-in-touch form textarea:focus {
  border: 1px solid #00a092;
  -webkit-box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
          box-shadow: 0px 4px 30px rgba(0, 160, 146, 0.3);
}

.get-in-touch form input:invalid:not(:placeholder-shown),
.get-in-touch form textarea:invalid:not(:placeholder-shown) {
  background: rgba(245, 128, 33, 0.2);
  border: 1px solid #f58021;
}

.get-in-touch form input:invalid:not(:placeholder-shown) ~ .requirements,
.get-in-touch form textarea:invalid:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 0 30px 20px 50px;
}

.get-in-touch form input:invalid:focus:not(:placeholder-shown) ~ .requirements,
.get-in-touch form textarea:invalid:focus:not(:placeholder-shown) ~ .requirements {
  max-height: 200px;
  padding: 12px 0;
}

.get-in-touch form textarea {
  min-height: 200px;
}

.get-in-touch form button {
  margin: 38px 0 4px;
}

.get-in-touch form .requirements {
  max-height: 0;
  -webkit-transition: 0.28s;
  transition: 0.28s;
  overflow: hidden;
  color: #f58021;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  /* Quick Donate */
  /* Prev/Next */
}

.button--width-240 {
  width: 240px;
}

.button--width-360 {
  width: 360px;
}

.button--width-140 {
  width: 140px;
}

.button--width-80 {
  width: 80px;
}

.button--width-65 {
  width: 65px;
}

.button--fill-orange {
  color: #ffffff;
  background-color: #f58021;
}

.button--fill-orange:hover, .button--fill-orange:active {
  background-color: #d26004;
}

.button--fill-turquoise {
  color: #ffffff;
  background-color: #00a092;
}

.button--fill-turquoise:hover, .button--fill-turquoise:active {
  background-color: #05786e;
}

.button--fill-turquoise-light {
  color: #ffffff;
  background-color: #00a092;
}

.button--fill-turquoise-light:hover, .button--fill-turquoise-light:active {
  background-color: #80cfc8;
}

.button svg {
  margin-left: 10px;
}

.button svg path {
  fill: #ffffff;
}

.button--border {
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--border-navy {
  color: #20113d;
  border: 1px solid #20113d;
}

.button--border-navy svg path {
  fill: #20113d;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--border-navy:hover, .button--border-navy:active {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #20113d;
}

.button--border-navy:hover svg path, .button--border-navy:active svg path {
  fill: #ffffff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--border-white {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button--border-white:hover, .button--border-white:active {
  color: #ffffff;
  background-color: #00a092;
}

.button--transparent {
  color: #f58021;
  background-color: transparent;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--transparent svg {
  margin-left: 10px;
}

.button--transparent svg path {
  fill: #f58021;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--transparent:hover, .button--transparent:active {
  color: #ffffff;
  background-color: #f58021;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--transparent:hover svg, .button--transparent:active svg {
  margin-left: 10px;
}

.button--transparent:hover svg path, .button--transparent:active svg path {
  fill: #ffffff;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.button--quick-donate-btn {
  padding: 25px 0;
  border-radius: 4px;
}

.button--quick-donate-btn svg {
  margin-left: 0px;
}

.button--prev, .button--next {
  padding: 18px 18px;
  border-radius: 5px;
}

.button--prev svg, .button--next svg {
  margin-left: 0px;
}

.button--prev-white, .button--next-white {
  border: 1px solid #ffffff;
}

.button--prev-white svg path, .button--next-white svg path {
  fill: #ffffff;
}

.button--prev-white:hover, .button--prev-white:active, .button--next-white:hover, .button--next-white:active {
  background-color: #ffffff;
}

.button--prev-white:hover svg path, .button--prev-white:active svg path, .button--next-white:hover svg path, .button--next-white:active svg path {
  fill: #20113d;
}

.button--prev-navy, .button--next-navy {
  border: 1px solid #20113d;
}

.button--prev-navy svg path, .button--next-navy svg path {
  fill: #20113d;
}

.button--prev-navy:hover, .button--prev-navy:active, .button--next-navy:hover, .button--next-navy:active {
  background-color: #20113d;
}

.button--prev-navy:hover svg path, .button--prev-navy:active svg path, .button--next-navy:hover svg path, .button--next-navy:active svg path {
  fill: #ffffff;
}

.footer__up {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 4.12fr 4.26fr 3.6fr;
      grid-template-columns: 4.12fr 4.26fr 3.6fr;
  grid-column-gap: 100px;
  padding: 70px 0;
  border-bottom: 1px solid #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer__up--logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* tooltip */
  /* the animations */
  /* expand */
}

.footer__up--logos .logo__svg path {
  fill: #ffffff;
}

.footer__up--logos .tooltip {
  position: relative;
}

.footer__up--logos .tooltip:before,
.footer__up--logos .tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.footer__up--logos .tooltip:after {
  border-right: 6px solid transparent;
  border-bottom: 6px solid #00a092;
  border-left: 6px solid transparent;
  content: "";
  height: 0;
  top: 50px;
  left: 20px;
  width: 0;
}

.footer__up--logos .tooltip:before {
  background: #00a092;
  border-radius: 2px;
  color: #ffffff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 56px;
  white-space: nowrap;
}

.footer__up--logos .tooltip.expand:before {
  -webkit-transform: scale3d(0.2, 0.2, 1);
          transform: scale3d(0.2, 0.2, 1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer__up--logos .tooltip.expand:after {
  -webkit-transform: translate3d(0, 6px, 0);
          transform: translate3d(0, 6px, 0);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.footer__up--logos .tooltip.expand:hover:before,
.footer__up--logos .tooltip.expand:hover:after {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

.footer__up--logos .tooltip.expand:hover:after {
  -webkit-transition: all 0.2s 0.1s ease-in-out;
  transition: all 0.2s 0.1s ease-in-out;
}

.footer__up .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__up .nav__link {
  color: #ffffff;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__up .nav__link:hover {
  color: #00a092;
}

.footer__up .nav__link:focus {
  color: #00a092;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

.footer__down--copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__down--copyrights .copyright {
  color: #ffffff;
  margin-right: 50px;
}

.footer__down--social .social__item {
  margin-left: 25px;
}
/*# sourceMappingURL=style.css.map */