/* Color */
$black: #000000;
$navy: #20113d;
$white: #ffffff;
$orange: #f58021;
$turquoise: #00a092;

/* Color Hover/Pressed */
$orange-dark: #d26004;
$turquoise-dark: #05786e;

/* Color Not Active */
$turquoise-light: #80cfc8;

/* Color for Social networks*/
$pure-red: #ff0000;
$moderate-pink: #c13584;
$dark-moderate-blue: #3b5998;
