.cards {
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;

  &__wrapper {
    margin: 148px 0;
    display: grid;
    grid-template-areas:
      "cardsInfo cardsImage"
      "cardsDescription cardsDescription";
    grid-template-rows: 2.3fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 40px;

    @media screen and (max-width: 1200px) {
      margin: 102px 0 89px;
      grid-template-columns: 7fr 5fr;
      grid-column-gap: 20px;
    }

    @media screen and (max-width: 640px) {
      display: block;
      margin: 80px 0 100px;
    }

    @media screen and (max-width: 320px) {
      margin: 50px 0 76px;
    }

    #cardsImage {
      grid-area: cardsImage;
    }

    #cardsInfo {
      grid-area: cardsInfo;
    }

    #cardsDescription {
      grid-area: cardsDescription;
    }
  }

  &__image {
    height: 440px;
    width: 440px;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      height: 455px;
      width: 455px;
    }

    @media screen and (max-width: 640px) {
      height: 600px;
      width: 600px;
    }

    @media screen and (max-width: 320px) {
      height: 320px;
      width: 320px;
    }

    img {
      @media screen and (max-width: 1200px) {
        height: 455px;
        width: 455px;
      }

      @media screen and (max-width: 640px) {
        height: 600px;
        width: 600px;
      }

      @media screen and (max-width: 320px) {
        height: 320px;
        width: 320px;
      }
    }
  }

  &__info {
    position: relative;
    height: 382px;
    width: 479px;
    color: $black;

    @media screen and (max-width: 640px) {
      margin: 80px 0 50px;
    }

    @media screen and (max-width: 320px) {
      height: auto;
      width: auto;
      margin: 51px 0 20px;
      padding: 0 3.125%;
    }

    button {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 20.27px;
      line-height: 24.71px;

      @media screen and (max-width: 320px) {
        position: static;
        padding: 30px 0;
      }
    }

    a {
      @media screen and (max-width: 320px) {
        text-align: center;
      }
    }
  }

  &__descr {
    .name {
      padding-bottom: 25px;
      color: $black;

      @media screen and (max-width: 320px) {
        padding-bottom: 19px;

        span {
          padding-top: 5px;
        }
      }
    }

    .descr {
      padding-bottom: 19px;
      color: $black;

      @media screen and (max-width: 320px) {
        padding-bottom: 20px;
      }
    }

    span {
      margin-left: 20px;

      @media screen and (max-width: 320px) {
        display: block;
        margin-left: 0;
        padding-top: 2px;
      }
    }
  }

  &__description {
    margin-right: 18%;

    @media screen and (max-width: 1200px) {
      margin-right: 0%;
    }

    @media screen and (max-width: 320px) {
      padding: 0 3.125%;
    }
  }
}
