.slider {
  padding: 101px 0 50px;

  @media screen and (max-width: 1200px) {
    padding: 10px 0 50px;
  }

  @media screen and (max-width: 640px) {
    padding: 89px 0 80px;
    margin-left: 100px;
  }

  @media screen and (max-width: 320px) {
    padding: 20px 0 30px;
    margin-left: 150px;
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;

  &__title {
    color: $black;

    @media screen and (max-width: 640px) {
      font-weight: 500;
      font-size: 26px;
      line-height: 130%;
      text-transform: unset;
      text-align: left;
      margin-left: -247px;
    }

    @media screen and (max-width: 320px) {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      margin-left: 26px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;

    &--btn {
      margin: 65px 13px;
      @media screen and (max-width: 640px) {
        display: none;
        height: 0;
        margin: 0;
        padding: 0;
      }

      svg {
        @media screen and (max-width: 640px) {
          display: none;
          height: 0;
          margin: 0;
          padding: 0;
        }
      }
    }
  }

  &__wrapper {
    width: 1400px;
    padding: 30px 70px 100px;
    margin-left: 125px;
    // overflow: hidden;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 0px;

    @media screen and (max-width: 1200px) {
      width: 1025px;
      padding: 31px 8px 49px 8px;
      margin: 0;
    }

    @media screen and (max-width: 640px) {
      display: flex;
      justify-content: flex-end;
      padding: 20px 0px 0px 0px;
      width: 440px;
    }

    @media screen and (max-width: 320px) {
      overflow: hidden;
      width: 100vw;
      justify-content: flex-start;
    }
  }

  &__container {
    overflow: hidden;
    display: grid;

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;

    @media screen and (max-width: 1200px) {
      grid-gap: 20px;
    }

    @media screen and (max-width: 640px) {
      display: flex;
    }

    @media screen and (max-width: 320px) {
      overflow: hidden;
      width: 100vw;
      margin-left: 11px;
    }
  }

  &__card {
    position: relative;
    height: 209px;
    width: 320px;
    // transition: all 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;

    @media screen and (max-width: 1200px) {
      height: 209px;
      width: 265px;
    }

    @media screen and (max-width: 640px) {
      height: 106px;
      width: 135px;
    }

    @media screen and (max-width: 320px) {
      height: 110px;
      min-width: 140px;
    }

    // z-index: 2;

    // &:hover {
    //   transform: scale(1.09, 1.054);
    // }

    &:nth-child(1) {
      box-sizing: border-box;
      border: 3px solid $orange;

      .bage {
        top: -3px;
      }

      .video__button {
        top: calc(50% - 3px);
      }

      .slider__card--picture {
        &:first-of-type {
          border-radius: 0;
        }
      }
    }

    .video__button {
      width: 46px;
      height: 32px;

      @media screen and (max-width: 640px) {
        width: 26px;
        height: 20px;
      }

      svg {
        width: 46px;
        height: 32px;
        @media screen and (max-width: 640px) {
          width: 26px;
          height: 20px;
        }
      }
    }

    &--picture {
      position: relative;
      height: 100%;
      width: 100%;
      border: none;
      /* Сustom figure after normalize.css */
      margin-inline: 0;
      margin-block: 0;
      z-index: 1;
      border-radius: 5px;
      overflow: hidden;
    }
  }
}
